<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-theme="light">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ SITE_FAVICON }}">
<meta name="msapplication-TileColor" content="#351dac">
<meta name="theme-color" content="#ffffff">

<!-- Metadata -->
<meta name="apple-mobile-web-app-status-bar" content="#351dac">
<meta name="theme-color" content="#351dac" />
<meta name="description" content="Register now on {{ SITE_DOMAIN }} for all your SMS verification needs!">
<meta property="og:type" content="website">
<meta name="keywords" content="sms verification, sms verification service, disposable phone number, bypass phone verifications, temporary phone number, receive sms online, sms verification, free sms verification" />
<meta property="og:image" content="">
<!-- /Metadata -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Register | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}">
<meta property="og:description" content="Register now on {{ SITE_DOMAIN }} for all your SMS verification needs!">
<!-- /Open Graph / Facebook -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Register | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">
<meta property="twitter:site" content="">
<!-- /Twitter -->

<link rel="canonical" href="">


<script src="/static/assets/theme_1/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/assets/theme_1/js/jquery/jquery.min.js"></script>

<!-- Notyf CSS File -->
<link rel="stylesheet" type="text/css" href="/static/assets/notyf/notyf.min.css">

    <!-- Notyf JS File -->
<script src="/static/assets/notyf/notyf.min.js"></script>
<!-- /core JS files -->

<!-- Global stylesheets -->
<link href="/static/assets/theme_1/fonts/inter/inter.css" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/icons/icomoon/styles.min.css?v=0.1" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/css/global.css?v=0.1.1" id="stylesheet" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script src="/static/assets/theme_1/app/demo_configurator.js?v=0.3.7"></script>
<script src="/static/assets/theme_1/js/app.js"></script>
</head>

<body>

	<div class="navbar navbar-dark navbar-static py-2">
	<div class="container-fluid">
		<div class="navbar-brand">
			<a href="/" class="d-inline-flex align-items-center">
				<img src="{{ SITE_LOGO }}" alt="">
                <span class="ms-3 text-white" style="font-size: 20px; font-weight: bold;">{{ SITE_NAME }}</span>
			</a>
		</div>

		<div class="d-flex justify-content-end align-items-center ms-auto">
			<ul class="navbar-nav flex-row">
									<li class="nav-item">
						<a href="/register" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle-plus"></i>
								<span class="d-none d-md-inline-block ms-2">Register</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="/login" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle"></i>
								<span class="d-none d-md-inline-block ms-2">Login</span>
							</div>
						</a>
					</li>
            </ul>
		</div>
	</div>
</div>
	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<!-- Registration form -->
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<img src="{{ SITE_LOGO }}" alt="{{ SITE_NAME }} Logo" style="max-width: 100%; max-height: 150px; height: auto; width: auto; object-fit: contain;">
								<hr>
								<h1 class="mb-0">Login</h1>
							</div>
							<form class="login-form" method="post" id="login_user">
								<div class="mb-3 text-center text-muted content-divider">
									<span class="px-2">Your credentials</span>
								</div>

								<div class="mb-3 form-control-feedback form-control-feedback-start">
									<input type="text" class="form-control" placeholder="Username / Email" name="username" required>
									<div class="form-control-feedback-icon">
										<i class="icon-user-check text-muted"></i>
									</div>
																	</div>

								<div class="mb-3 form-control-feedback form-control-feedback-start">
									<input type="password" class="form-control" placeholder="Password" name="password" required>
									<div class="form-control-feedback-icon">
										<i class="icon-user-lock text-muted"></i>
									</div>
								</div>

								<button type="submit" name="login" class="btn btn-primary btn-block w-100 mb-3" id="login-btn">Login</button>
                                <div class="d-flex align-items-center mb-3">
                                    <a href="/reset_password" class="ms-auto">Forgot password?</a>
                                </div>
                                <div class="text-center text-muted content-divider mb-3">
                                    <span class="px-2">Don't have an account?</span>
                                </div>
                                <div class="mb-3">
                                    <a href="/register" class="btn btn-light w-100">Sign up</a>
                                </div>
                                <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="tos">Terms &amp; Conditions</a> and <a href="/privacy-policy">Privacy Policy</a></span>
						</form>
                        </div>
					</div>
					<!-- /registration form -->
				</div>
				<!-- /content area -->

				<div class="navbar navbar-sm navbar-footer border-top">
	<div class="container-fluid">
		<span>&copy; 2025 {{ SITE_NAME }}</span>

		<ul class="nav">
			<li class="nav-item">
				<a href="/privacy-policy" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
					<div class="d-flex align-items-center mx-md-1">
						<i class="ph-file-lock"></i>
						<span class="d-none d-md-inline-block ms-2"><span>Privacy Policy</span></span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
</body>
<script src="/static/assets/theme_2/js/login.js" type="text/javascript"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let mode = sessionStorage.getItem("mode"); // Get stored mode

        if (!mode) {
            mode = "dark"; // Default to dark mode
            sessionStorage.setItem("mode", "dark");
        }

        document.documentElement.setAttribute("data-color-theme", mode);
    });
</script>
</html>