
<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-theme="dark">


<head>
	
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Privacy Policy | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ SITE_FAVICON }}">
<meta name="msapplication-TileColor" content="#351dac">
<meta name="theme-color" content="#ffffff">

<!-- Metadata -->
<meta name="apple-mobile-web-app-status-bar" content="#351dac">
<meta name="theme-color" content="#351dac" />
<meta name="description" content="The Privacy Policy for {{ SITE_NAME }}">
<meta property="og:type" content="website">
<meta name="keywords" content="sms verification, sms verification service, disposable phone number, bypass phone verifications, temporary phone number, receive sms online, sms verification, free sms verification" />
<meta property="og:image" content="">
<!-- /Metadata -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Privacy Policy | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}">
<meta property="og:description" content="The Privacy Policy for {{ SITE_NAME }}">
<!-- /Open Graph / Facebook -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Privacy Policy | Cheap non-VoIP SMS Verifications | {{ SITE_NAME }}">
<meta property="twitter:description" content="The Privacy Policy for {{ SITE_NAME }}">
<meta property="twitter:image" content="">
<meta property="twitter:site" content="@">
<!-- /Twitter -->

<link rel="canonical" href="">


<script src="/static/assets/theme_1/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/assets/theme_1/js/jquery/jquery.min.js"></script>

<!-- /core JS files -->

<!-- Global stylesheets -->
<link href="/static/assets/theme_1/fonts/inter/inter.css" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/icons/icomoon/styles.min.css?v=0.1" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
<link href="/static/assets/theme_1/css/global.css?v=0.1.1" id="stylesheet" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script src="/static/assets/theme_1/app/demo_configurator.js?v=0.3.7"></script>
<script src="/static/assets/theme_1/js/app.js"></script>

</head>

<body>
	<div class="navbar navbar-dark navbar-static py-2">
	<div class="container-fluid">
		<div class="navbar-brand">
			<a href="/" class="d-inline-flex align-items-center">
				<img src="{{ SITE_LOGO }}" alt="">
                <span class="ms-3 text-white" style="font-size: 20px; font-weight: bold;">{{ SITE_NAME }}</span>
			</a>
		</div>

		<div class="d-flex justify-content-end align-items-center ms-auto">
			<ul class="navbar-nav flex-row">
									<li class="nav-item">
						<a href="/register" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle-plus"></i>
								<span class="d-none d-md-inline-block ms-2">Register</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="/login" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle"></i>
								<span class="d-none d-md-inline-block ms-2">Login</span>
							</div>
						</a>
					</li>
							</ul>
		</div>
	</div>
</div>
	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">
					<div class="card mb-0">
						<div class="card-body" style="white-space: normal !important">
							<h1>{{ SITE_NAME }} PRIVACY AND COOKIE POLICY</h1>

							<p>Most recent updated version August 2024</p>

							<h2>INTRODUCTION</h2>

							<p>{{ SITE_NAME }} (&ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our(s)) has created and published this Privacy and Cookie Policy (&ldquo;Policy&rdquo;). The purpose of this Policy is to inform visitors on our website and Users (&ldquo;you&rdquo;, &ldquo;your(s)&rdquo;) of our services about what data and personal information we collect when you visit our website and use our services.</p>

							<p>{{ SITE_NAME }} is a business operating in the Netherlands.</p>

							<p>{{ SITE_NAME }}&rsquo;s Privacy and Cookie Policy and our internal data protection policies are fully compliant with both the EU General Data Protection Regulation (&ldquo;GDPR&rdquo;) and the California Consumer Privacy Act (&ldquo;CCPA&rdquo;). If you have any questions about the manner in which we collect, process and protect your data and personal information, please contact us at <a href="mailto:">{{ SITE_SUPPORT_EMAIL }}</a>. We may modify this Privacy and Cookie Policy from time to time, for example in response to changes in the applicable privacy laws and regulations.</p>

							<p>Any amendments to this Policy are published on this page. Your continued use of our services means that you have read and agreed to the most recent version of our Policy. If you do not agree with this Policy, we recommend you to leave our website.</p>

							<h3>ARTICLE 1. PERSONAL DATA WE COLLECT</h3>

							<p>We only collect your data after you have given us your express consent. Before you leave any information with us, we give you the option to agree and continue. If you do not want to share your personal information with us, we recommend you to leave our website and do not complete a registration.</p>

							<p>We collect and process the following personal data from visitors and subscribers. The purpose of this will be to register you as a User to our services: Username, password (hashed in bCrypt), and optionally email address. In addition, we may store the IP addresses from each request which is only used for statistical purposes for our DDoS protection such as ratelimits per IP, and this will not be linked to your user data.</p>

							<h3>ARTICLE 2. THIRD PARTY SUB-PROCESSORS</h3>

							<p>{{ SITE_NAME }} makes use of the services of third party companies that are processing your data. We are committed to only engage with those companies that fully comply with the GDPR and CCPA, maintain the highest standards of data protection and never sell data to other parties. We only make use of the services of Cloudfare for Analytics, CDN and DDoS protection, based out of the United States that will monitor certain visitor behavior on our website. We advise you to read their Privacy Policy available on https://www.cloudflare.com/privacypolicy/. Next to Cloudflare; we use Stripe which processes your payments and the requests only contain your user ID.</p>

							<h3>ARTICLE 3. USE OF YOUR INFORMATION</h3>

							<p>All data we collect and process will be used to provide our Services to you. In addition, we may use this information for maintaining and improving our website, mobile applications and all other services we offer. We may provide you with information about our Services that you explicitly requested from us, answering your questions or responding to other communications you send to us. We do not send sell/send your information for marketing.</p>

							<p>We may also track and analyze data for investigating and preventing fraudulent behavior, or other unauthorized or illegal transactions and/or activities. For that purpose we may link, connect or combine certain pieces of data. This information can be requested by law enforcement as long as it is within reasonable demand, and our investigations deem the provided report to be matching up with our internal records.</p>

							<h3>ARTICLE 4. WITHDRAWAL OF YOUR CONSENT</h3>

							<p>We only collect and process data that is based on your consent, and personal data which is accurate and relevant for the purposes mentioned in this Policy. In addition, we collect personal information for the legitimate purposes set out in this Privacy Policy. Finally, we collect and process data to comply with specific legal and regulatory duties.</p>

							<p>Each User has at all times the right to withdraw its consent. In addition, each individual may request the permanent removal of its personal data and information. Upon your request through your <a href="/my/settings">settings page</a>, {{ SITE_NAME }} will remove all personal data that we collected from you. Furthermore, each individual has the right to correct or update its personal information, deletions may take up to 48 hours to process.</p>

							<h3>ARTICLE 5. YOUR PRIVACY RIGHTS</h3>

							<p>This provision is applicable provided that the data is processed by automated means and that the processing is based on the User&#39;s consent, on a contract which the User is part of or on pre-contractual obligations.Users may exercise their privacy rights regarding the following:</p>

							<p>5.1.Users have the right to withdraw consent where they have previously given their consent to the processing of their personal data.</p>

							<p>5.2. Users may object to the processing of their personal information. Users have the right to object to the processing of their data if the processing is carried out on a legal basis other than consent.</p>

							<p>5.3. Users have the right to learn if data is being processed by us, obtain disclosure regarding certain aspects of the processing and obtain a copy of the data undergoing processing.</p>

							<p>5.4. Users have the right to verify the accuracy of their personal data and ask for it to be updated or corrected.</p>

							<p>5.5. Users have the right, under certain circumstances, to restrict the processing of their data, in which case, we will not process their Data for any purpose other than storing it.</p>

							<p>5.6. Users have the right, under certain circumstances, to obtain the erasure of their Data from us.</p>

							<p>5.7. Users have the right to receive their Data in a structured, commonly used and machine-readable format and, if technically feasible, to have it transmitted to another controller without any obstacle.</p>

							<p>5.8. Users have the right to bring a claim before their competent data protection authority.</p>

							<h3>ARTICLE 5. COOKIES</h3>

							<p>In order to improve your experience on our website, we place cookies on our website. A cookie is a piece of data that is transferred from a web server to your computer or web browser each time you visit this website. Cookies will expire, but these can also be deleted by the user in your browser settings.</p>

							<p>We shall always inform you when we use cookies to collect your personal information and we request your consent before placing such cookies. Also, you can choose to disable cookies in your internet browser settings, we make sure that our cookies do not contain any personal information.</p>

							<h3>ARTICLE 6. DATA SECURITY AND DATA BREACH</h3>

							<p>{{ SITE_NAME }} is committed to taking all necessary measures and actions to protect your data. Our data protection practices are based on the best industry standards such as hashing your passwords with bCrypt, and only ask for information that is deemed important to us. Nevertheless, the transmission of information via the internet can never be 100% secure, and for that reason, we cannot fully guarantee the security of the data you will send to us. When we give you login information and credentials, you shall always remain fully responsible for keeping such information confidential and for personal use. When a data breach occurs, we undertake to act quickly in order to avoid data loss and we will notify without delay each User whose personal data could be at risk, data breaches will be mentioned through our news channels; either through Telegram or on our <a href="/login">on-site dashboard</a></p>

							<p>We waive any liability for privacy policies of third parties, including but not limited to social media links that appear on our website. We do not have any control over the way they collect, process and protect your personal information.</p>

							<p>In case of any breach, every user will be notified within 72 hours of the breach through any available channel that the user has provided</p>
							<h3>ARTICLE 7. COMPANY&rsquo;S INTERNAL PRIVACY POLICIES</h3>

							<p>{{ SITE_NAME }} is committed to implementing the highest standards of data protection within our organization. This means we maintain clear roles, duties, and responsibilities regarding the way we comply with the GDPR, including instructions and training programs for employees on data protection laws, regulations and policies. Your personal data we collect shall be stored and processed for as long as the legitimate purpose requires it. Users may find specific information regarding the legitimate interests pursued by us within the relevant sections of this document or by contacting us.</p>

							<p>We will take appropriate security measures to prevent unauthorized access, disclosure or modification of your personal data. The processing of your data is carried out using computers and IT-enabled tools, following organizational procedures and modes strictly related to the purposes indicated.</p>

							<h3>ARTICLE 8. MINORS</h3>

							<p>We never process personal information from minors. Users declare themselves to be adult according to their applicable legislation. Minors may use our services only with the assistance of a parent or legal guardian.</p>

							<h3>ARTICLE 9. AMENDMENTS</h3>

							<p>We reserve the right to make changes to this Privacy Policy at any time by giving notice to the Users on this page. And as far as technically and legally possible by sending a notice to Users via their contact information available to us. We strongly recommend checking this page regularly, referring to the date of the last modification listed at the top of this page. Should the changes affect processing activities performed on the basis of the User&rsquo;s consent, we shall collect new consent from the User, where required.</p>

						</div>
					</div>


                </div>
				<!-- /content area -->

				<div class="navbar navbar-sm navbar-footer border-top">
	<div class="container-fluid">
		<span>&copy; 2025 {{ SITE_NAME }}</span>

		<ul class="nav">
			<li class="nav-item">
				<a href="/privacy-policy" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
					<div class="d-flex align-items-center mx-md-1">
						<i class="ph-file-lock"></i>
						<span class="d-none d-md-inline-block ms-2"><span>Privacy Policy</span></span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let mode = sessionStorage.getItem("mode"); // Get stored mode

        if (!mode) {
            mode = "dark"; // Default to dark mode
            sessionStorage.setItem("mode", "dark");
        }

        document.documentElement.setAttribute("data-color-theme", mode);
    });
</script>
</html>